@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    font-family: 'Inconsolata', monospace;
}

.link {
    margin-top: 8px;
    font-size: 24px;
}

.title {
    font-size: 96px;
}

.subtext {
    font-size: 32px;
}